@import url('https://fonts.googleapis.com/css2?family=Sono:wght,MONO@200..800,1&display=swap');


body{
    font-family: 'Sono', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-project{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin: 20px;
    padding: 10px;
    height: 800px;
    width: 800px;
}

.about-project li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 5px 0;
    margin: 0px;

}

.about-project ul{
    padding: 0;
    margin: 0;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td {
    display: flex;
    border-top: 1px solid black;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

table {
    width: 100%;
    margin-top: 20px;
}

th {
    background-color: #f2f2f2;
    border: none;
    text-align: left;
    color: black;
    padding: 5px 10px;
}

.readme{
    font-size: 14px;
    line-height: 1.6;
    color: #444444;
    border: 1px solid black;
    padding: 10px;
}

.about-project-header{
    font-size: 24px;
    font-weight: bold;
    background-color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-project-header h1{
    margin: 0;
    padding: 10px;
}

.about-project-header button{
    color: black;
    font-size: 15px;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
    color: white;
    padding: 7px 30px;
    
}

.tecnologies-badge {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.tecnologies-badge li {
    background-color: black;
    color: white;
    padding: 5px 10px;
}